body {
  background-color: #223f79;
  height: 100vh;
  overflow-y: hidden;
}

.gridArea {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.gridRow {
  display: flex;
  background-color: rgb(218, 218, 218);
  width: min(45vw, 90vh);
}

.gridSquare {
  flex: 1;
  height: min(9vw, 18vh);
  border: 0.2vw solid black;
}

.root {
  height: 100vh;
}

.Game {
  display: flex;
  height: 100vh;
}

.infoCol {
  flex: 1;
}

.cords {
  font-size: 15em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.history {
  font-size: 5em;
  font-weight: bold;
  color: white;
}

.history>div {
  text-align: center;
}

.button {
  font-size: 2em;
  margin-top: 2vh;
}

input {
  font-size: large;
}

h1 {
  color: white;
}
