body {
  background-color: #223f79;
  height: 100vh;
  overflow-y: hidden;
}

.loadingContainer {
  display: flex;
  height: 90vh;
}

.loadingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid whitesmoke;
  padding: 2em;
  padding-top: 0.5em;
  border-radius: 1em;
  background-color: #3b63b4;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}

.loadingBtn {
  margin-left: auto;
  margin-right: auto;
}

.gridArea {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5em;
}

.gridRow {
  display: flex;
  background-color: rgb(218, 218, 218);
  width: min(45vw, 90vh);
}

.gridSquare {
  flex: 1;
  border: 0.15vw solid black;
}

.root {
  height: 100vh;
}

.Game {
  display: flex;
  height: 100vh;
}

.infoCol {
  flex: 1;
}

.cords {
  font-size: 15em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.history {
  font-size: 5em;
  font-weight: bold;
  color: white;
}

.history>div {
  text-align: center;
}

.button {
  font-size: 2em;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: 5px solid white;
}

.lowerContainer {
  display: flex;
  position: absolute;
  bottom: 1em;
  width: 45%;
  justify-content: space-between;
  align-items: center;
}

input {
  font-size: large;
  margin-bottom: 0.5em;
}

h1 {
  color: white;
  margin: 0;
  margin-bottom: 0.5em;
}

svg.labelSvg {
  fill: blue;
  stroke-width: 1em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

svg.labelSvg {
  width: 100%;
  height: 100%;
}

.helper p {
  font-size: x-large;
  color: white;
  font-weight: bold;
  cursor: context-menu;
  margin: 0;
  margin-left: 1em;
}

.monospace {
  font-family: monospace;
  font-variant-numeric: tabular-nums;
  font-variant-caps: titling-caps;
}

.repoLink {
  position: absolute;
  right: 1em;
  height: 4em;
  bottom: 1em;
  opacity: 1;
  transition: opacity .1s ease-out;
}

.repoLink:hover {
  opacity: .3;
}
